<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">12345</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="show_sql">false</property>
        <mapping class="ru.jpa.tests.TestPerson.model.Person"/>
        <mapping class="ru.jpa.tests.TestCollectionPerson.model.PersonCollection"/>
        <mapping class="ru.jpa.tests.TestCollectionPerson.model.AddressCollection"/>
        <mapping class="ru.jpa.tests.TestOneToManyPerson.model.PersonOneToMany"/>
        <mapping class="ru.jpa.tests.TestOneToManyPerson.model.AddressOneToMany"/>
        <mapping class="ru.jpa.tests.TestInheritancePerson.model.PersonBase"/>
        <mapping class="ru.jpa.tests.TestInheritancePerson.model.PersonExt"/>
        <mapping class="ru.jpa.tests.TestInheritancePerson.model.PersonExtExt"/>
        <mapping class="ru.jpa.tests.TestJPQLPerson.model.SimplePerson"/>
        <mapping class="ru.jpa.tests.TestIndexedPerson.model.PersonIndexed"/>
    </session-factory>
</hibernate-configuration>